@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Application global styles */
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
